config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: release/1.7.8
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.FAIR:
    repos:
      this_repo:
        commands:
        - fair-eva.py -ID http://doi.org/10.5255/UKDA-SN-8231-1 -R oai-pmh -B https://datacatalogue.cessda.eu/oai-pmh/v0/oai
          --tool_endpoint http://localhost:9090/v1.0/rda/rda_all
        container: qc.fair_breezy-maroon-budgerigar
timeout: 5400
